<?xml version="1.0" encoding="ASCII"?>
<org.eclipse.emf.ecp.view.template.model:ViewTemplate xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:org.eclipse.emf.ecp.view.template.model="http://org/eclipse/emf/ecp/view/template/model" xmlns:org.eclipse.emf.ecp.view.template.selector.viewmodelelement.model="http://www.eclipse.org/emf/ecp/view/template/selector/viewmodelelement/model" xmlns:org.eclipse.emf.ecp.view.template.style.table.validation.model="http://www.eclipse.org/emf/ecp/view/template/style/table/validation/model">
  <styles>
    <selector xsi:type="org.eclipse.emf.ecp.view.template.selector.viewmodelelement.model:ViewModelElementSelector">
      <classType href="http://org/eclipse/emf/ecp/view/table/model/150#//TableControl"/>
    </selector>
    <properties xsi:type="org.eclipse.emf.ecp.view.template.style.table.validation.model:TableValidationStyleProperty"/>
  </styles>
  <referencedEcores>/org.eclipse.triquetrum.workflow.model/model/triquetrum.ecore</referencedEcores>
</org.eclipse.emf.ecp.view.template.model:ViewTemplate>
