<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Triq" sequenceNumber="1598204779">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.slf4j.api.source" version="1.7.2.v20121108-1250"/>
      <unit id="org.slf4j.impl.log4j12.source" version="1.7.2.v20131105-2200"/>
      <unit id="org.apache.xalan" version="2.7.1.v201005080400"/>
      <unit id="org.apache.commons.io.source" version="2.6.0.v20190123-2029"/>
      <unit id="org.apache.log4j.source" version="1.2.15.v201012070815"/>
      <unit id="org.apache.commons.io" version="2.6.0.v20190123-2029"/>
      <unit id="org.apache.commons.lang.source" version="2.6.0.v201404270220"/>
      <unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
      <unit id="org.apache.commons.codec" version="1.13.0.v20200108-0001"/>
      <unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
      <unit id="org.apache.commons.httpclient" version="3.1.0.v201012070820"/>
      <unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
      <unit id="org.apache.ws.commons.util" version="1.0.2.v20160817-1930"/>
      <unit id="org.apache.xmlrpc.client" version="3.1.3.v20160817-1930"/>
      <unit id="org.apache.xmlrpc.common" version="3.1.3.v20181004-1955"/>
      <unit id="org.apache.xmlrpc.server" version="3.1.3.v20181004-1955"/>
      <unit id="org.hamcrest.core" version="1.3.0.v20180420-1519"/>
      <unit id="org.hamcrest.generator" version="1.3.0.v201305210900"/>
      <unit id="org.hamcrest.integration" version="1.3.0.v201305210900"/>
      <unit id="org.hamcrest.library" version="1.3.0.v20180524-2246"/>
      <unit id="org.junit" version="4.13.0.v20200204-1500"/>
      <unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
      <unit id="org.slf4j.impl.log4j12" version="1.7.2.v20131105-2200"/>
      <unit id="javax.xml" version="1.3.4.v201005080400"/>
      <unit id="javax.xml.bind" version="2.2.0.v201105210648"/>
      <unit id="javax.xml.stream" version="1.0.1.v201004272200"/>
      <unit id="javax.activation" version="1.1.0.v201211130549"/>
      <unit id="javax.servlet" version="3.1.0.v201410161800"/>
      <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20200529191137/repository"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.ptolemy.tycho.feature.feature.group" version="0.0.0"/>
      <repository location="https://ptolemy.berkeley.edu/projects/chess/triq/p2/osgi-2-0-5/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.nebula.visualization.feature.feature.group" version="1.0.0.201605182147"/>
      <repository location="http://archive.eclipse.org/nebula/Q22016/release/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.ecf.filetransfer.httpclient45.feature.feature.group" version="1.0.600.v20200816-1842"/>
      <repository location="https://download.eclipse.org/rt/ecf/latest/site.p2"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.ecf.core.feature.feature.group" version="1.5.600.v20200317-1602"/>
      <unit id="org.eclipse.emf.validation.feature.group" version="1.12.1.201812070911"/>
      <unit id="org.eclipse.platform.source.feature.group" version="4.16.0.v20200604-0951"/>
      <unit id="org.eclipse.equinox.sdk.feature.group" version="3.20.200.v20200528-0603"/>
      <unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.300.v20200317-1602"/>
      <unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.19.300.v20200525-1407"/>
      <unit id="org.eclipse.platform.feature.group" version="4.16.0.v20200604-0951"/>
      <unit id="org.eclipse.rcp.feature.group" version="4.16.0.v20200604-0951"/>
      <unit id="org.eclipse.ocl.all.feature.group" version="5.12.0.v20200608-1555"/>
      <unit id="org.eclipse.rcp.source.feature.group" version="4.16.0.v20200604-0951"/>
      <unit id="org.eclipse.emf.cdo.epp.feature.group" version="4.10.0.v20200610-0352"/>
      <unit id="org.eclipse.pde.source.feature.group" version="3.14.400.v20200604-0540"/>
      <unit id="org.eclipse.gef.sdk.feature.group" version="3.11.0.201606061308"/>
      <unit id="org.eclipse.core.runtime.feature.feature.group" version="1.2.900.v20200525-1407"/>
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.12.0.201805140824"/>
      <unit id="org.eclipse.graphiti.feature.feature.group" version="0.17.0.202005151449"/>
      <unit id="org.eclipse.gmf.runtime.notation.source.feature.group" version="1.13.0.202004160913"/>
      <unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.14.800.v20200317-1602"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.22.0.v20200519-1135"/>
      <unit id="org.eclipse.gmf.source.feature.group" version="1.13.0.202004160913"/>
      <unit id="org.eclipse.graphiti.export.feature.feature.group" version="0.17.0.202005151449"/>
      <unit id="org.eclipse.graphiti.feature.tools.feature.group" version="0.17.0.202005151449"/>
      <unit id="org.eclipse.jdt.source.feature.group" version="3.18.400.v20200604-0540"/>
      <unit id="org.eclipse.graphiti.sdk.feature.feature.group" version="0.17.0.202005151449"/>
      <unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.400.v20200317-1602"/>
      <unit id="org.eclipse.gmf.feature.group" version="1.13.0.202004160913"/>
      <unit id="org.eclipse.net4j.util.ui.feature.group" version="4.10.0.v20200610-0352"/>
      <unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.11.800.v20200602-1138"/>
      <unit id="org.eclipse.net4j.ui.feature.group" version="4.3.0.v20200311-1912"/>
      <unit id="org.eclipse.gmf.runtime.notation.feature.group" version="1.13.0.202004160913"/>
      <unit id="org.eclipse.graphiti.sdk.plus.feature.feature.group" version="0.17.0.202005151449"/>
      <unit id="org.eclipse.equinox.core.feature.feature.group" version="1.11.200.v20200525-1407"/>
      <repository location="http://download.eclipse.org/releases/2020-06/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.emf.ecp.view.table.celleditor.rcp.feature.source.feature.group" version="1.15.0.20171220-1057"/>
      <unit id="org.eclipse.emf.ecp.emfforms.sdk.feature.feature.group" version="1.15.0.20171220-1057"/>
      <repository location="http://download.eclipse.org/ecp/releases/releases_115/"/>
    </location>
  </locations>
</target>
