<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="Model properties"
            nameFilter="*.*"
            class="org.eclipse.triquetrum.workflow.repository.ui.properties.ModelPropertyPage"
            id="org.eclipse.triquetrum.workflow.repository.ui.properties.samplePropertyPage">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Triquetrum"
            id="org.eclipse.triquetrum.workflow.repository.ui">
      </category>
      <view
            name="Workflow Repositories"
            icon="icons/sample.gif"
            category="org.eclipse.triquetrum.workflow.repository.ui"
            class="org.eclipse.triquetrum.workflow.repository.ui.views.WorkflowRepositoryView"
            id="org.eclipse.triquetrum.workflow.repository.ui.views.WorkflowRepositoryView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="org.eclipse.triquetrum.workflow.repository.ui.views.WorkflowRepositoryView">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
